<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h1><%= alo %></h1>
    <img src="/images/file0.png">
    <a href="/users" class="btn btn-success">Users</a>

  </body>
</html>
